.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .main-div {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
  }
  
  .has-text-centered{
    text-align: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }